################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IpInfoViewer/DesignTimeBuild/.dtbcache.v2
/.vs/IpInfoViewer/FileContentIndex
/.vs/IpInfoViewer/v17
/.vs/ProjectEvaluation
bin/
obj/
