/* You can add global styles to this file, and also import other style files */
html {
  /* To make use of full height of page*/
  min-height: 100%;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
div[ng-view]{
  height: 100%;
}
@import "~ngx-chart/styles.scss";
